# Ignorar node_modules
node_modules
npm-debug.log

# Ignorar arquivos de build
dist
build
.next

# Ignorar env files (serão passados pelo docker-compose)
.env
.env.local
.env.*.local

# Ignorar cache
.cache
